.venv*/
__pycache__/
*.pyc
test-output/
submission.zip
team-claim.json
submission.json
submission-s1.0.zip
submission-s1.0.json
submission-s1.1.zip
submission-s1.1.json
submission-s1.2.zip
submission-s1.2.json
fomc-local.json

submission-s1.3.zip
submission-s1.3.json
